.menuBar h1 {
	float: right;
	width: 70%;
	font-size: 42pt;
}

.menuBar img{
	width: 20%;
	margin: 2% 0;
}

.menuBar nav {
	background-color: #4A58B1; /* Logo Light blue color */
	text-shadow: -4px 4px 6px black;
	width: 50%;
	height: 40px;
	border-radius: 5px;  
}

.menuBar nav ul {
	width: 100%;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.menuBar nav ul li {
	float: left;
	display: inline;
	width: 33.33%;    
}

/*.menuBar nav a:link, .menuBar nav a:visited {
	color: #D19F24; /* text Logo gold color *//*
	text-shadow: -4px 4px 6px black;
	display: inline-block;
	padding: 10px 15px;
	height: 20px;
}*/

.menuBar nav a:hover, .menuBar nav a:active, 
.menuBar nav .active a:link, .menuBar nav .active a:visited {
	background-color: #11195A; /* Logo dark blue color */
	text-shadow: -4px 4px 6px black;
	text-shadow: none;
	border-radius: 5px;
	height: 40px;
}

.menuBar nav ul li a {
	display: block;
	width: 100%;
	color: white;
	text-align: center;
	text-decoration: none;
}

.reservationbox {
	display: block;
	width: 50%;
	border-style: solid;
	border-width: thin;
}

.reservatonStartCal {
	
}

.reservationEndCal {
    
}